{% extends 'catalog/base.html' %}

{% block title %}Создание нового {{ object.name| lower}}{% endblock %}
{% block content %}
{% load my_tags %}
<h2>{% if object.name %}
    Редактирование продукта {{ object.name }}
    {% else %}
    Добавление нового продукта
    {% endif %}
</h2>
<div class="col-3 mt-3" >
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
        {% if object %}
        Сохранить
        {% else %}
        Создать
        {% endif %}
    </button>
    <a href="{% url 'catalog:prod_list' %}" class="btn btn-secondary">Отмена</a>
</form>
</div>
{% endblock %}
